In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import google_api_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mataura,-46.1927,168.8643,53.01,78,97,15.01,NZ,2021-01-27 22:50:07
1,1,Sisimiut,66.9395,-53.6735,8.10,78,0,10.94,GL,2021-01-27 22:50:08
2,2,Saint-Philippe,-21.3585,55.7679,77.00,69,0,5.75,RE,2021-01-27 22:50:08
3,3,New Norfolk,-42.7826,147.0587,59.00,54,63,1.99,AU,2021-01-27 22:50:08
4,4,Ushuaia,-54.8000,-68.3000,39.20,93,40,19.57,AR,2021-01-27 22:47:20

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=google_api_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Saint-Philippe,-21.3585,55.7679,77.00,69,0,5.75,RE,2021-01-27 22:50:08
10,10,Arauca,7.0847,-70.7591,81.32,57,99,3.71,CO,2021-01-27 22:50:09
11,11,Georgetown,5.4112,100.3354,78.80,94,20,4.59,MY,2021-01-27 22:45:11
12,12,Rikitea,-23.1203,-134.9692,79.99,73,91,11.79,PF,2021-01-27 22:50:09
16,16,Hilo,19.7297,-155.0900,75.20,73,75,16.11,US,2021-01-27 22:47:14
18,18,Curuca,-0.7289,-47.8481,76.53,89,55,4.07,BR,2021-01-27 22:50:10
20,20,Oriximina,-1.7656,-55.8661,77.94,84,96,2.64,BR,2021-01-27 22:50:10
24,24,Avarua,-21.2078,-159.7750,87.80,58,75,17.27,CK,2021-01-27 22:45:45
25,25,Sao Filipe,14.8961,-24.4956,74.03,68,0,5.10,CV,2021-01-27 22:50:11
26,26,Arraial Do Cabo,-22.9661,-42.0278,77.00,78,0,16.11,BR,2021-01-27 22:50:11

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2    Saint-Philippe      RE     77.00 -21.3585   55.7679
10           Arauca      CO     81.32   7.0847  -70.7591
11       Georgetown      MY     78.80   5.4112  100.3354
12          Rikitea      PF     79.99 -23.1203 -134.9692
16             Hilo      US     75.20  19.7297 -155.0900
18           Curuca      BR     76.53  -0.7289  -47.8481
20        Oriximina      BR     77.94  -1.7656  -55.8661
24           Avarua      CK     87.80 -21.2078 -159.7750
25       Sao Filipe      CV     74.03  14.8961  -24.4956
26  Arraial Do Cabo      BR     77.00 -22.9661  -42.0278

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_api_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Saint-Philippe,RE,77.00,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
10,Arauca,CO,81.32,7.0847,-70.7591,Hotel Verano Plaza
11,Georgetown,MY,78.80,5.4112,100.3354,Cititel Penang
12,Rikitea,PF,79.99,-23.1203,-134.9692,Pension Maro'i
16,Hilo,US,75.20,19.7297,-155.0900,Hilo Hawaiian Hotel
...,...,...,...,...,...,...
515,Saint-Louis,SN,73.40,16.3333,-15.0000,
516,Tomatlan,MX,79.50,19.9333,-105.2500,Norma franco
519,Souillac,MU,73.40,-20.5167,57.5167,Shanti Maurice Resort & Spa
520,Caravelas,BR,76.06,-17.7125,-39.2481,Pousada dos Navegantes
523,Bonthe,SL,77.63,7.5264,-12.5050,Bonthe Holiday Village

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]